<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SAMS</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <style>
    .cont{
      height: 300px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: orangered;
    }
  </style>
</head>
<body>
  <%-include("_header.ejs")%>
  <div class="cont">
  <h1>404 Page not found</h1>
  <a href="/">Home</a>
  </div>
</body>
</html>