<header>
  <h1>SAMS</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/newStudent">+ New student</a>
    <a href="/newStaff">+ New Staff</a>
    <a href="/news/sports/epl-transfers">Blog</a>
  </nav>
</header>

<!-- Layouts -->
<!-- SSR , CSR -->