<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .body{
      margin: 0;
      padding: 0;
    }
    h1{
      color: red;
      font-size: 2rem;
      margin: 5% 40%;
    }
    .container{
      display: flex;
      padding: 20px 30px;
      gap: 20px;
      margin: 5% 25%;
      /* justify-content: space-between; */
    }
    .present{
      background-color: blue;
      color: white;
      padding: 20px 40px;
      border-radius: 15px;
    }
    .absentees{
      background-color: blue;
      color: white;
      padding: 20px 40px;
      border-radius: 15px;
    }
  </style>
</head>
<body>
  <header></header>
  <h1>Home Page</h1>
  <div class="container">
  <div class="present">
    <p class="teacher"> 7 teachers present</p>
    <p class="student"> 500 teachers present</p>
  </div>
  <div class="absentees">
    <p class="teacher"> 2 teachers present</p>
    <p class="student"> 50 teachers present</p>
  </div>
  </div>
  <!-- 7 teachers present -->
  <!-- 20 students absent -->

  <!-- section absentees -- student and teachers -->

  <!-- other pages -->
  <!-- attendance page -->
  <!-- permissions page -->
</body>
</html>