<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Student</title>
  <link rel="stylesheet" href="/css/main.css">
  <!-- <link rel="stylesheet" href="/css/forms.css"> -->
</head>
<body>
  <%-include("_header.ejs")%>
  <h1>New Student</h1>
  <div class="container">
  <form action="/addnewStudent" method="post">
    <div>
      <label for="reg_no">Registration Number</label>
      <input type="number" name="reg_no" >
    </div>
    <div>
      <label for="full-name">Full Name</label>
      <input type="text" name="name">
    </div>
    <div>
      <label for="class">Class</label>
      <select name="class" id="class">
        <option value="1">Form 1</option>
        <option value="2">Form 2</option>
        <option value="3">Form 3</option>
        <option value="4">Form 4</option>
      </select>
      <div>
        <input type="submit"value ="Add New Student">
      </div>
    </div>
  </form>
  </div>
  <!-- cors role -->
</body>
</html>