body{
  background: rgb(134, 11, 15);
  margin: 0;
}
    /* h1{
      color: red;
      font-size: 2rem;
      margin: 5% 40%;
    }
    .container{
      display: flex;
      padding: 20px 30px;
      gap: 20px;
      margin: 5% 25%;
       justify-content: space-between; 
    }
    .present{
      background-color: blue;
      color: white;
      padding: 20px 40px;
      border-radius: 15px;
    }
    .absentees{
      background-color: blue;
      color: white;
      padding: 20px 40px;
      border-radius: 15px;
    } */